@import '../scss/variables.scss';



.price_list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;

    a {
        width: 100%;
        text-align: center;
    }


    .price_card_container:nth-of-type(1),
    .price_card_container:nth-of-type(3) {
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: x-large;
            color: $grayish-blue;
        }

        h2~p {
            font-size: 5em;
            color: $dark-grayish-blue;
        }

        h2~p>span {
            font-size: xxx-large;
        }

        .price_description {
            color: $grayish-blue;
            width: 100%;


            .line {
                width: 100%;
                height: 1px;
                background-color: $light-grayish-blue;
            }

            p {
                padding: 22px;
                text-align: center;
                font-size: large;
            }

        }



        a {
            background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            padding: 16px;
            border-radius: 6px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            letter-spacing: 0.1em;
        }

        a:hover {
            background: white;
            color: hsl(237, 63%, 64%);
            border: 1px solid $dark-grayish-blue;
            transition: ease-in 0.3s;
        }


    }

    .price_card_container:nth-of-type(2) {
        background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 6px;
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        h2 {
            font-size: x-large;
            color: white;
        }

        h2~p {
            font-size: 5em;
            color: white;
        }

        h2~p>span {
            font-size: xxx-large;
        }

        .price_description {
            width: 100%;
            color: white;

            .line {
                width: 100%;
                height: 1px;
                background-color: $very-light-grayish-blue;
            }

            p {
                padding: 22px;
                text-align: center;
                font-size: large;
            }

        }


        a {
            background: white;
            padding: 16px;
            border-radius: 6px;
            font-weight: 700;
            color: hsl(237, 63%, 64%);
            text-decoration: none;
            letter-spacing: 0.1em;
        }

        a:hover {
            background: transparent;
            color: white;
            border: 1px solid white;
            transition: ease-in 0.3s;
        }


    }
}


@media screen and (max-width:$mobile-width) {
    .price_list_container {
        display: block;

        .price_card_container {
            // margin: 15px;
            height: 500px;
            margin: 4em 1.5em;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        }

        a {
            width: 100%;
            text-align: center;
        }
    }

    .price_card_container:nth-of-type(1),
    .price_card_container:nth-of-type(3) {
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: x-large;
            color: $grayish-blue;
        }

        h2~p {
            font-size: 5em;
            color: $dark-grayish-blue;
        }

        h2~p>span {
            font-size: xxx-large;
        }

        .price_description {
            color: $grayish-blue;
            width: 100%;


            .line {
                width: 100%;
                height: 1px;
                background-color: $light-grayish-blue;
            }

            p {
                padding: 22px;
                text-align: center;
                font-size: large;
            }

        }

        a {
            background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            padding: 16px;
            border-radius: 6px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            letter-spacing: 0.1em;
        }


    }

    .price_card_container:nth-of-type(2) {
        background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 6px;
        padding: 30px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        h2 {
            font-size: x-large;
            color: white;
        }

        h2~p {
            font-size: 5em;
            color: white;
        }

        h2~p>span {
            font-size: xxx-large;
        }

        .price_description {
            width: 100%;
            color: white;

            .line {
                width: 100%;
                height: 1px;
                background-color: $very-light-grayish-blue;
            }

            p {
                padding: 22px;
                text-align: center;
                font-size: large;
            }

        }


        a {
            background: white;
            padding: 16px;
            border-radius: 6px;
            font-weight: 700;
            color: hsl(237, 63%, 64%);
            text-decoration: none;
            letter-spacing: 0.1em;
        }
    }
}